{% extends 'main/layout.html' %}
{% load static %}
{% block title%}Images{% endblock %}

{% block content %}
  <h2>Your Images</h2>
  {% if images %}
    <div class="image-gallery">
      {% for image in images %}
        <div class="image-container">
          <img src="{{ image }}" alt="{{ image }}" style="width:50%">
              {% csrf_token %}
              <button class="btn btn-danger delete-button" onclick="deleteImage('{{ image }}')">Delete</button>
          <p> </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>You haven't saved any images yet.</p>
  {% endif %}

{% endblock %}
